/* ----------------------------------------------
* abstracts/_variables.scss
* Stores any repeatable property values
* ---------------------------------------------- */

/* Colors */

// The color of the "paper" on which the editor text is written
$backgroundColorNavigationButton: #ffffff;

// The color of the "paper" on which the editor text is written
$backgroundColorEditor: #ffffff;

// The color to highlight a claim within the text which hasn't been feact checked yet
$backgroundColorClaim: #fdfdd5;

// The color to highlight a claim within the text which is supported
$backgroundColorClaimSupported: #66E24380; // 50% alpha

// The color to highlight a claim within the text which is unsupported
$backgroundColorClaimUnsupported: #E2434380; // 50% alpha

// The background color of the results column
$backgroundColorResults: #ffffff;

// The color of the show/hide sources button
$backgroundColorButtonSourceList: #eeeeee;

// The background color of a source item
$backgroundColorSourceItem: #f6f6f6;

// The color of the credibility bar
$colorProgressSupported: #86C351;
$colorProgressUnsupported: #FF8761;
$colorProgressWaiting: #aaaaaa;

/* Shadows */

$defaultMUIshadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);