@font-face {
  font-family: 'ArizonaSerif';
  src: url('./ArizonaSerif/ArizonaSerif-Light.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Arizona Serif';
  src: url('./ArizonaSerif-Light.woff') format('woff');
  font-style: normal;
}



@font-face {
  font-family: 'Arizona Text';
  src: url('./ArizonaText-Light.woff') format('woff');
  font-style: normal;
}



@font-face {
  font-family: 'Arizona Text';
  src: url('./ArizonaText-LightItalic.woff') format('woff');
  font-style: italic;
}


@font-face {
  font-family: 'DM Mono';
  src: url('./DMMono-Light.woff') format('woff');
  font-style: normal;
}


@font-face {
  font-family: 'DM Mono';
  src: url('./DMMono-LightItalic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap')
    format('woff2');
  font-style: italic;
}
