@font-face {
  font-family: 'ArizonaSerif';
  src: url('./ArizonaSerif/ArizonaSerif-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Arizona Serif';
  src: url('./ArizonaSerif/ArizonaSerif-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}



@font-face {
  font-family: 'Arizona Text';
  src: url('./ArizonaSerif/ArizonaText-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}



@font-face {
  font-family: 'Arizona Text';
  src: url('./ArizonaSerif/ArizonaText-LightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: 'DM Mono';
  src: url('./DMmono/DMMono-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'DM Mono';
  src: url('./DMmono/DMMono-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap')
    format('woff2');
  font-weight: 200;
  font-style: italic;
}
